#start-btn
{
    width: 40%;
    
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    background-color: #5d10cfc5;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#webapp
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#display
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#yourwebcamLABEL
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
#startbuttonLABEL
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px ;
}
#voiceoutputTEXT
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#takeselfieTEXT
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#longTEXT
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}
#heading
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}
body
{
background-image: linear-gradient(to left top, rgb(230, 15, 151), #cfcb5f, #c75a27, #6b7dcd, #ea1e69, #5d10cfc5, #ef0909);
}
.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family:monospace;
    background-color: #6b7dcd;
    font-size: 20px;
    font-style: oblique;
    
}

 img:hover{
    border-radius: 150px;
    box-shadow: 0 6px 8px 0 rgba (2, 2, 2, 0.2);
 }

 






